###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
/**/.vs/
/api/*.yml
.manifest
/unitycontainer.github.io
/node_modules
/package-lock.json
/yarn.lock
